/* == POPPINS IMPORT GOOGLE FONTS == */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
/* == GLOBAL VARIABLES == */
/* == GLOBAL HEADER == */
header {
  background-color: #2C2C2C;
  padding: 20px 0;
  position: relative;
  z-index: 1;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .user-icon {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-width: 50px;
}

/* == GLOBAL LISTS == */
.form-container {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  padding-top: 100px;
}

.form-container .id-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.form-container .id-form .form-input {
  background-color: #2C2C2C;
  width: 100%;
  height: 50px;
  border: 1px solid #2C2C2C;
  border-radius: 5px 0px 0px 5px;
  padding: 0 10px;
}

.form-container .id-form .form-input:focus {
  outline: none;
}

.form-container .id-form .form-submit {
  padding: 5px 15px;
  background: #A175E8;
  border: 0 none;
  cursor: pointer;
  border-radius: 0px 5px 5px 0px;
}

.card {
  margin-top: 100px;
  background-color: #2C2C2C;
  max-width: 300px;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-description {
  margin-top: 20px;
  background-color: #FFF;
  max-width: 200px;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.card-description p {
  color: #2C2C2C;
}

.card-interraction-btns {
  background-color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  border-radius: 10px;
  width: 100px;
  height: 30px;
}

/* === GENERAL & RESET === */
* {
  margin: 0;
  padding: 0;
  border: 0;
  color: #FFF;
}

a, a:visited {
  text-decoration: none;
  decoration: none;
  text-decoration: none;
  color: inherit;
}

strong {
  font-weight: 600;
}

ol, ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #F7F7F7;
}

/* === Containers === */
.container-large {
  max-width: 1600px;
  width: 90%;
  margin: 0 auto;
}

.container-min {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
}

/** == TEXT PURPLE COLORIZE == */
.text-purple {
  color: #A175E8;
}

.text-base {
  color: #2C2C2C;
}
/*# sourceMappingURL=main.css.map */