.form-container {
    width: max-content;
    margin: 0 auto;
    margin-top: 100px;
    background-color: #2c2c2c;
    padding: 20px;
    border-radius: 5px 5px 5px 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;


    a {
        text-decoration: underline;
        color: $color-purple;
    }
    .id-form {
        display: flex;
        flex-direction: row;

        .form-input {
            background-color: $color-base;
            width: 100%;
            height: 50px;
            border: 1px solid $color-base;
            border-radius: 5px 5px 5px 5px;
            padding: 0 10px;

            &:focus {
                outline: none;
            }

        }

        .form-submit {
            padding: 5px 15px;
            background: $color-purple;
            border: 0 none;
            cursor: pointer;
            border-radius: 5px 5px 5px 5px;
        }
    }

    .create-modify-form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
        background-color: #ececec;
        padding: 30px;
        border-radius: 5px 5px 5px 5px;


        .form-titre {
            max-width: 200px;
            background-color: $color-base;
            width: 100%;
            height: 50px;
            border: 1px solid $color-base;
            border-radius: 5px 5px 5px 5px;
            padding: 0 10px;

            &:focus {
                outline: none;
            }

        }

        .form-submit {
            padding: 5px 15px;
            background: $color-purple;
            border: 0 none;
            cursor: pointer;
            border-radius: 5px 5px 5px 5px;
        }

        .puclic-check {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 10px;
            background-color: $color-base;
            padding: 20px;
            border-radius: 5px 5px 5px 5px;

        }

        textarea {
            margin-top: 10px;
            width: 500px;
            height: 100px;
            -moz-border-bottom-colors: none;
            -moz-border-left-colors: none;
            -moz-border-right-colors: none;
            -moz-border-top-colors: none;
            background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
            border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
            border-image: none;
            border-radius: 6px 6px 6px 6px;
            border-style: none solid solid none;
            border-width: medium 1px 1px medium;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
            color: #555555;
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            font-size: 1em;
            line-height: 1.4em;
            padding: 5px 8px;
            transition: background-color 0.2s ease 0s;
        }
          
          
        textarea:focus {
            background: none repeat scroll 0 0 #FFFFFF;
            outline-width: 0;
        }
    }

    .login-form {


        display: flex;
        flex-direction: column;
        gap: 20px;

        .login-field {
            width: 100%;
            height: 50px;
            width: 600px;
            border-radius: 5px 5px 5px 5px;
            color: $color-base;

            &:focus {
                outline: none;
            }
        }

        .login-connexion {
            background-color: $color-purple;
            width: 100%;
            height: 50px;
            width: 600px;
            border-radius: 5px 5px 5px 5px;
            color: $color-white;
            cursor: pointer;


            &:focus {
                outline: none;
            }
        }
    }
}